body {
    /* height: 100%; */
    background-color: black;
    padding: 50px;
}

h2 {
    color: brown;
}

.usar_id {}

.usar_id_text {}

.usar_particulars {
    margin: auto;
    width: 40%;
}

.id_password {
    margin: 5px;
}

.personal {}

.personal_text {
    flex: auto;
}

.personal_particulars {
    margin: auto;
    width: 80%;
}

.info {
    margin: 5px;
}